/* spots widget admin css */

.widget[id*=spot] .editorcontainer {
    background: #fff;
    border: 1px solid #dfdfdf;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.widget[id*=spot] textarea {
    background: #fff;
    width: 95%;
}


.widget[id*=spot] .media-buttons a {
    margin: 0 3px;
}

.widget-inside .mceEditor table.mceLayout,
.context-content-widget-admin .mceEditor table.mceLayout {
	background-color: #fff;
}

.spot-media-buttons a {
	cursor: pointer;
	padding: 0 0 5px 10px;
}
